@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body{

	font-family: 'Lato', Helvetica, Arial, Verdana, sans-serif !important;
}

p {
	text-align: justify;
}

.form-contato input, .form-contato textarea {
  padding: 10px 20px;
  width: 100%;
}

.form-contato textarea {
  height: 100px;
}

.form-contato input[type="submit"] {
  width: auto;
  margin-top: 10px;
}

.comentarios {
  margin-top: 50px;
}

.entry-content p {
  font-size: 18px;
  line-height: 36px;
  color: #444 !important;
}

.entry-title {
  margin-bottom: 30px;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
  margin: 6px 5px 0 6px;
}

.anexos {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.anexos ul {
  padding: 0;
}

.anexos .anexo {
  background: #eaeaea;
  padding: 15px 20px 15px 60px;
  display: inline-block;
  margin: 10px;
  width: 250px;
  position: relative;

  border-radius: 3px;
  border: 1px solid #d0d0d0;
}

.anexos .anexo img {
  position: absolute;
  left: 10px;
  top: 20%;
}

.anexos .anexo p {
  color: #444;
  font-weight: 600;
}

.anexos .anexo a {
  color: #444;
  font-weight: 300;
}

.anexos .anexo a:hover {
  text-decoration: none;
  border-bottom: 1px dashed #444;
}