@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body{

	font-family: 'Lato', Helvetica, Arial, Verdana, sans-serif !important;
}

p {
	text-align: justify;
}

.form-contato input, .form-contato textarea {
  padding: 10px 20px;
  width: 100%;
}

.form-contato textarea {
  height: 100px;
}

.form-contato input[type="submit"] {
  width: auto;
  margin-top: 10px;
}

.comentarios {
  margin-top: 50px;
}

.entry-content {
  font-size: 18px;
  line-height: 36px;
  color: #444;
}

.entry-title {
  margin-bottom: 30px;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
  margin: 6px 5px 0 6px;
}