
.conteudo.blog .posts .post {
	padding:10px 20px 10px 5px;
}

.posts .post-title a {
  color: #333;
}

.posts .post-title a:hover {
	text-decoration: none;
}

.conteudo.blog .posts .post .post-resume {
	display: block;
	padding-right: 10px;
	font-size:14px;
	line-height: 20px;
}

.conteudo.blog .post-readmore {
	margin-top:-5px;
}

.conteudo.blog .post-readmore {
	padding:10px 20px;
	background: #eaeaea;
	border: 1px solid #E4E4E4;
	color: #747272;
}

.conteudo.blog .post-readmore:hover {
	color: #AAA;
	text-decoration: none;
}

.conteudo.blog .pages-navigation{
	margin:10px auto 0px;
	height:30px;
}

.conteudo.blog .pages-navigation .page-title-footer{
	float: left;
	margin-right: 10px;
	font-weight: bold;
}

.conteudo.blog .pages-navigation .page-numbers li {
	border: 1px solid #333;
	padding:0px 5px ;
}

.conteudo.blog .pages-navigation .page-numbers li span {
	font-weight: bold;
}

.conteudo.blog .page-numbers li {
	list-style:none;
	float:left;
	margin-right: 5px;
}

.conteudo.blog .page-numbers li a {
	color: #485;
} 


.nav-menu .nav-date ,.nav-menu .nav-category {
	background: #eaeaea;
	border: 1px solid #E4E4E4;
	color: #747272;
	margin-bottom: 10px;
}

.nav-menu  h3{
	color:#747272;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	margin: 0;
	font-weight: 400;
}

.nav-menu ul {
	padding: 0;
	border-top: 1px solid #f0f0f0;
	padding-top: 20px;
} 

.nav-menu li {
	list-style-type: none;
}

.nav-menu li a {
	color:#666;
	display: block;
	padding: 10px 20px;

	-webkit-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.nav-menu li a:hover, .nav-menu li.active a {
	background: rgba(0,0,0, 0.1);
	text-decoration: none;
}

.nav-menu li.active a {
	padding-left: 35px;
	font-weight: 600;
}

/*--------------Post aberto*/

.post-title {
	padding-bottom: 20px;
}

.post-resume p {
	font-size: 15px;
	padding-bottom: 30px;
	margin: 0 0 10px;
	color: #555;
}

.post-comments,.post-category,.data {
	color: #555;
	font-style: italic;
}

.post {
	padding: 30px 50px !important;
	border: 1px solid #d0d0d0;
	margin: 25px 0;
	box-shadow: 3px 3px 7px rgba(0,0,0,0.15);
}