.conteudo.blog .posts {
	width:80%;
	float:left;
}
.conteudo.blog .posts .post-unity {
	padding:10px 20px 10px 5px;
}

.conteudo.blog .posts .post-unity .post-resume {
	display: block;
	padding-right: 10px;
	font-size:14px;
	line-height: 20px;
}

.conteudo.blog .posts .post-unity .post-data {
	width: 100%;
}

.conteudo.blog .post-data .post-date {
	width: 25%;
	float:left;
}

.conteudo.blog .post-data .post-category {
	width: 25%;
	float:left;
}

.conteudo.blog .post-data .post-coments {
	width: 25%;
	float:left;
}

.conteudo.blog .post-data .post-readmore {
	margin-top:-5px;
}

.conteudo.blog .post-data .post-readmore {
	padding:10px 20px;
	background: #eaeaea;
	border: 1px solid #E4E4E4;
	color: #747272;
}

.conteudo.blog .post-data .post-readmore:hover {
	color: #AAA;
	text-decoration: none;
}

.conteudo.blog .pages-navegation{
	margin:10px auto 0px;
	height:30px;
}

.conteudo.blog .pages-navegation .page-title-footer{
	float: left;
	margin-right: 10px;
	font-weight: bold;
}

.conteudo.blog .pages-navegation .page-numbers li {
	border: 1px solid #333;
	padding:0px 5px ;
}

.conteudo.blog .pages-navegation .page-numbers li span {
	font-weight: bold;
}

.conteudo.blog .page-numbers li {
	list-style:none;
	float:left;
	margin-right: 5px;
}

.conteudo.blog .page-numbers li a {
	color: #485;
} 

.nav-menu {
	width:20%;
	float:left;
}


.nav-menu .nav-date ,.nav-menu .nav-category {
	background: #eaeaea;
	border: 1px solid #E4E4E4;
	color: #747272;
	padding: 2px 5px;
	margin-bottom: 10px;
}

.nav-menu  h3{
	color:#747272;
	padding: 5px 10px;
	border-bottom: 1px solid #999;
	margin: 5px auto 10px;
}

.nav-menu .nav-category ul {
	list-style: none;
	padding-left: 10px;
} 

.nav-menu .nav-category li a {
	color:white;
	
}

/*--------------Post aberto*/

.blog.status-publish .entry-content {
	float:left;
	width: 80%;
}

.post-title {
	padding-bottom: 20px;
}

.post-resume p {
	font-size: 15px;
	padding-bottom: 30px;
	margin: 0 0 10px;
	color: #555;
}

.post-coments,.post-category,.post-date {
	color: #555;
	font-style: italic;
}

.post-unity {
	padding: 30px 50px !important;
	border: 1px solid #d0d0d0;
	margin: 25px 0;
	box-shadow: 3px 3px 7px rgba(0,0,0,0.15);
}