.formandos .formando {
	position: relative;
	width: 240px;
	height: 240px;
	overflow: hidden;
	background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.formandos .formando:hover .nome-formando {
	bottom: 0;
}

.formandos .nome-formando {
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	padding: 12px 20px;
	background: rgba(0,0,0, .7);
	color: #fff;
	display: block;
	text-align: center;

	-webkit-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

.formandos .formando img {
	max-width: 100%;
}

.formandos .formando-listagem:first-of-type {
	margin-top: 0;
}

.formandos .formando-listagem .ver-mais {
	border: 1px solid #d0d0d0;
	border-radius: 2px;
}


.formandos .formando-listagem .formato-data{
	font-size: 14px;
}

.formandos .formando-listagem h3 a {
	color: #333;
}

.formandos .formando-listagem h3 a:hover{
	text-decoration: none;
}

.formandos .formando-listagem p{
	color: #555;
}

.menu-cps li{
	list-style-type: none !important;

}

.menu-cps li a{
	color: #444;
}

.menu-cps li a:hover{
	text-decoration: none;
}

.widgettitle {
	display: none;
}

.menu-cps ul{
	border: 1px solid #d0d0d0;
	padding: 0px;
}

.menu-cps ul li {
	border-bottom: 1px solid #d0d0d0;
}

.menu-cps ul li a{
	padding: 12px 20px;
	display: block;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.menu-cps ul li a:hover{
	padding-left: 35px;
	background: #eaeaea;
}

.menu-cps ul li:last-of-type {
	border-bottom: none;
}


/*
pra cima é o que foi pego de todos os outros
aqui pra baixo é o que fizemos:
*/

.formandos .formando.clearfix{
	width: 80%;
	margin:5px auto;
	margin-bottom: 50px;
    border-top: 1px solid #aaa;
    padding: 5px;
}

.formando-single .imagem-capa {
	width: 240px;
	height: 240px;
	overflow: hidden;
	background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}