html, body {
	background: url(../img/textura_topo.jpg);
	height: auto !important;
}

h1, p.message {

	display: none;	
}

#backtoblog {
	position: absolute;
	top: 40px;
	left: 100px;
	font-size: 18px !important;
}

#login {
	padding: 0;
}

#loginform {

	background: #f6f9fe;
	-webkit-box-shadow:  0px 0px 29px 0px rgba(0, 0, 0, 0.2);   
    box-shadow:  0px 0px 29px 0px rgba(0, 0, 0, 0.2);
	width: 350px;
	height: 350px;
	margin:0 auto;
	border-radius: 1000000px;
	padding: 85px;
	position: relative;
	left: -25%;
	margin-top: 50px;
}

#loginform p:nth-child(1){
	margin-top: 70px; 
}

.login #backtoblog a, .login #nav a {
	color: #fff;
}

.login #backtoblog a:hover, .login #nav a:hover {
	color: #fff;
}

.wp-core-ui .button-primary{
	background: #34A34A;
	border-color: #41A200;
}

.wp-core-ui .button-primary:hover{
	background: #34A34A;
}

#loginform .imgform {
	width: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -230px;
}