body {
	background: #000;
}

h1, p.message {

	display: none;	
}

#backtoblog {
	position: absolute;
	top: 40px;
	left: 100px;
	font-size: 18px !important;
}

#loginform {

	background: #f6f9fe;
	-webkit-box-shadow:  0px 0px 29px 0px rgba(0, 0, 0, 0.2);   
    box-shadow:  0px 0px 29px 0px rgba(0, 0, 0, 0.2);
	width: 350px;
	height: 350px;
	margin:0 auto;
	border-radius: 1000000px;
	padding: 85px;
	position: relative;
	left: -25%;
	margin-top: 50px;
}

#loginform p:nth-child(1){
	margin-top: 70px; 
}