<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Lunardi Imóveis - Em Breve</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="all">
        <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet" media="all">
        <link rel="stylesheet" href="assets/css/embreve.css">
    </head>
    <body class="clearfix">
        <!--[if lt IE 7]>
            <p class="chromeframe">Parece que você está utilizando uma versão <strong>desatualizada</strong> de navegador. Por favor <a href="http://browsehappy.com/">atualize seu navegador</a> ou <a href="http://www.google.com/chromeframe/?redirect=true">ative o Google Chrome Frame</a> para melhorar sua experiência de navegação.</p>
        <![endif]-->
        
        <div class="conteudo">
            <span class="aguarde-txt">Em breve um site novinho para você... Aguarde!</span>
            <img class="logo" src="assets/img/embreve/logo.png" />
            <img class="indicadores" src="assets/img/embreve/indicadores.png" />
            <span class="fone">(49) 3330-4290</span>
        </div>

        <!-- <script src="assets/js/jquery-1.10.2.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script> -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. 
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script> -->
    </body>
</html>